In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [14]:
# Создаём сэмпл дата сет по информации по цене домов, возрасту домов, кол-во комнат, площади, кол-ву этажей, и колву окон
n_samples = 700

home_age = np.random.choice(90, n_samples) + 10 # возраст дома
room_number = np.random.choice(5, n_samples) + 3 #кол-во комнат
area = np.random.choice(1000, n_samples) + 200 # площадь дома
q_levels = np.random.choice(15, n_samples) + 5 #кол-во этажей
windows = np.random.choice(4, n_samples) +10 #кол-во окон

price = area * home_age  + room_number 

data = pd.DataFrame({'home_age': home_age, 'room_number': room_number, 'area': area, 'price': price, 'q_levels':q_levels,
                     'windows': windows})
data.head(5)

   home_age  room_number  area  price  q_levels  windows
0        93            7   929  86404        19       12
1        26            7   684  17791         6       13
2        81            5   335  27140        17       10
3        13            6   751   9769        19       10
4        26            3  1092  28395        11       13

In [18]:
#подставляем все параметры в нашу модель для предсказания цены.

from sklearn.metrics import mean_absolute_error

X = data[['home_age', 'room_number', 'area', 'q_levels', 'windows']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['home_age', 'room_number', 'area', 'q_levels', 'windows']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [700.56698087 341.91152917  54.51841552 114.12474295  59.86835046]
Bias: -42218.812614204515
Error: 5546.427832968423

Видим, что ошибка очень большая. 5тыс руб на среднюю цену 37 тыс руб.

In [19]:
y.mean()

37165.62857142857

In [20]:
#уберем лишние параметры. кол-во окон и этажей
from sklearn.metrics import mean_absolute_error

X = data[['home_age', 'room_number', 'area']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['home_age', 'room_number', 'area']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [699.6815585  333.45192037  54.50699073]
Bias: -40101.98345378579
Error: 5547.112780602967

Ошибка особо не поменялась, потому что кол-во этажей и окон не влияет на цену дома в нашей моделе

In [5]:
# Создаем новый линейный признак
data['mult'] = data['home_age'] * data['area'] + data['room_number']
data.head(5)

   home_age  room_number  area  price   mult
0        51            5   828  42233  42233
1        92            3   641  58975  58975
2        66            3   209  13797  13797
3        46            6   778  35794  35794
4        70            6   493  34516  34516

In [6]:
X = data[['mult']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [1.]
Bias: -2.1827872842550278e-11
Error: 1.3464419420675508e-11

In [7]:
y.mean()

38143.74571428572

In [ ]:
Теперь так как у нас модель полностью линейная, то велечина ошибки минимальная